.text_filed {
  position: relative;
  border-bottom: 1px solid #adadad;
}
.text_filed input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.text_filed label {
  position: absolute;
  top: 50%;
  left: 5%;
  color: gray;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.text_filed span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d2;
  transition: 0.5s;
}
.text_filed input:focus ~ label,
.text_filed input:valid ~ label {
  top: -5px;
  color: black;
}
.text_filed input:focus ~ span::before,
.text_filed input:valid ~ span::before {
  width: 100%;
}
