.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat__header {
  background-color: white;
}
.chat__header h1 {
  margin: 0;
  padding: 20px;
  border-bottom: #eeefee solid 1px;
}
.chat__messages {
  flex: 1;
  padding: 10px;
}
.chat__input {
  padding: 10px;
}
